.cart-page {
  max-width: 1200px;
  margin: 30px auto;
}

.cart-page h1 {
  font-size: 28px;
  margin-bottom: 25px;
}


/* MAIN LAYOUT */

.cart-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  align-items: start;
}


/* LEFT SIDE */

.cart-products {
  background-color: white;
  border: 1px solid #ddd;
}

.cart-heading {
  font-size: 18px;
  font-weight: bold;
  padding: 18px;
  border-bottom: 1px solid #ddd;
}


/* PRODUCT */

.cart-product {
  display: flex;
  gap: 25px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}


/* IMAGE */

.cart-image {
  width: 180px;
  height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
}

.cart-image img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}


/* PRODUCT INFORMATION */

.cart-product-info {
  flex: 1;
}

.cart-product-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.cart-category {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

.cart-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}


/* ACTIONS */

.cart-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.quantity-btn {
  width: 30px;
  height: 30px;

  border: 1px solid #aaa;
  background-color: #f5f5f5;

  cursor: pointer;
}

.cart-actions span {
  min-width: 30px;
  text-align: center;
}

.remove-btn {
  border: none;
  background: none;
  color: #007185;

  margin-left: 15px;

  cursor: pointer;
}

.remove-btn:hover {
  text-decoration: underline;
}


/* LEFT SIDE TOTAL */

.cart-bottom-total {
  padding: 20px;
  text-align: right;
  font-size: 20px;
}


/* RIGHT SIDE */

.order-summary {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;

  position: sticky;
  top: 20px;
}

.order-summary h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.summary-total {
  display: flex;
  justify-content: space-between;

  font-size: 20px;
  font-weight: bold;

  margin: 20px 0;
}


/* BUTTONS */

.checkout-btn {
  width: 100%;

  padding: 12px;

  border: none;
  border-radius: 5px;

  background-color: #ffd814;

  cursor: pointer;

  font-size: 15px;
}

.checkout-btn:hover {
  background-color: #f7ca00;
}

.continue-btn {
  width: 100%;

  padding: 10px;

  margin-top: 10px;

  background-color: white;

  border: 1px solid #aaa;
  border-radius: 5px;

  cursor: pointer;
}


/* EMPTY CART */

.empty-cart {
  text-align: center;
  padding: 80px 20px;
}

.empty-cart h1 {
  margin-bottom: 20px;
}

.empty-cart p {
  margin-bottom: 20px;
}

.empty-cart button {
  padding: 10px 20px;
  cursor: pointer;
}