.checkout-page {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

.checkout-page h1 {
  font-size: 30px;
  margin-bottom: 25px;
}

.checkout-container {
  background-color: white;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 5px;
  max-width: 700px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout-form h2 {
  font-size: 22px;
  margin-bottom: 25px;
}

.checkout-form label {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 7px;
}

.checkout-form input,
.checkout-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;

  border: 1px solid #aaa;
  border-radius: 4px;

  font-size: 15px;
}

.checkout-form textarea {
  height: 100px;
  resize: vertical;
}

.checkout-form button {
  width: 100%;
  padding: 12px;

  margin-top: 10px;

  border: none;
  border-radius: 5px;

  background-color: #ffd814;

  font-size: 16px;
  cursor: pointer;
}

.checkout-form button:hover {
  background-color: #f7ca00;
}